.form-container {
    width: 350px;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;    
    margin-top: 50px;
    padding: 40px 70px;
    .form-header {
        font-size: 20px;
        display: block;
        text-align: center;
    }
    .signup {
        text-align: center;
        margin-top: 20px;
        a {
            margin-left: 5px;
            text-decoration: none;
        }
    }
}

.form-control {
    display: flex;
    justify-content: space-around;
    input[type="text"] {
        margin: 15px 0;
        padding: 8px 0;
        width: 200px;
        border: none;
        border-bottom: 2px solid #e4e4e4;
        &:focus {
            outline: none;
        }
    }
    input[type="email"] {
        margin: 15px 0;
        padding: 8px 0;
        width: 200px;
        border: none;
        border-bottom: 2px solid #e4e4e4;
        &:focus {
            outline: none;
        }
    }
    input[type="password"] {
        margin: 15px 0;
        padding: 8px 0;
        width: 200px;
        border: none;
        border-bottom: 2px solid #e4e4e4;
        &:focus {
            outline: none;
        }
    }
    input[type="submit"] {
        margin: 15px 0;
        padding: 10px 0;
        width: 200px;
        background-color: #ff9a19;
        color: #000;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
}